 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("images/e9961dd85446d9695dcdf816f96491553e604daa23d0355a18a7287ce9a43a8f53b7249f1878ec7645ba070a06e3aaabd2ef8bdf4f707d6bbb5bab_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 374px;
}

.u-section-1 .u-text-1 {
  font-family: Rajdhani;
  letter-spacing: 0px;
  font-size: 5.625rem;
  font-weight: 700;
  margin: 138px auto 0;
}

.u-section-1 .u-text-2 {
  font-family: Rajdhani;
  margin: 0 auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 308px;
  }

  .u-section-1 .u-text-2 {
    transition-duration: 0.5s;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 236px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 177px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 111px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1070px;
}

.u-section-2 .u-text-1 {
  font-family: Rajdhani;
  width: auto;
  margin: -1658px auto 0;
}

.u-section-2 .u-text-2 {
  font-family: Rajdhani;
  margin: -1658px 1383px 60px -243px;
}

.u-section-2 .u-text-3 {
  font-family: Rajdhani;
  width: auto;
  margin: 135px auto 60px;
}

.u-section-2 .u-text-4 {
  font-family: Rajdhani;
  width: auto;
  margin: 0 auto 55px;
}

.u-section-2 .u-text-5 {
  font-family: Rajdhani;
  width: auto;
  margin: 24px auto 60px;
}

.u-section-2 .u-text-6 {
  font-family: Rajdhani;
  width: auto;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  font-family: Rajdhani;
  width: auto;
  margin: 0 auto;
}

.u-section-2 .u-text-8 {
  font-family: Rajdhani;
  margin: -1661px 1397px 0 -257px;
}

.u-section-2 .u-text-9 {
  font-family: Rajdhani;
  font-size: 2.5rem;
  margin: 50px auto 0 101px;
}

.u-section-2 .u-group-1 {
  width: 220px;
  min-height: 64px;
  margin: 12px auto 0 274px;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  text-align: start;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  color: rgb(85, 96, 128) !important;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-10 {
  font-family: Rajdhani;
  text-align: start;
  margin: -46px 0 0 auto;
}

.u-section-2 .u-shape-1 {
  width: 390px;
  height: 881px;
  background-image: none;
  margin: -64px 12px 0 auto;
}

.u-section-2 .u-text-11 {
  font-family: Rajdhani;
  margin: -867px 30px 0 auto;
}

.u-section-2 .u-custom-html-1 {
  min-height: 707px;
  margin: 10px -693px 0 757px;
}

.u-section-2 .u-text-12 {
  font-family: Rajdhani;
  margin: 0 37px 0 auto;
}

.u-section-2 .u-text-13 {
  font-family: Rajdhani;
  margin: -3px 56px 0 auto;
}

.u-section-2 .u-custom-html-2 {
  min-height: 322px;
  margin: -784px 473px 0 101px;
}

.u-section-2 .u-text-14 {
  font-family: Rajdhani;
  margin: 23px auto 0 243px;
}

.u-section-2 .u-countdown-1 {
  margin: 10px auto 0 243px;
}

.u-section-2 .u-countdown-counter-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-label-1 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-2 .u-countdown-separator-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-counter-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-label-2 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-2 .u-countdown-separator-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-counter-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-label-3 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-2 .u-countdown-separator-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-counter-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-label-4 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-2 .u-countdown-separator-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-counter-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-label-5 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-2 .u-countdown-separator-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-counter-6 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-label-6 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-2 .u-shape-2 {
  width: 503px;
  height: 239px;
  margin: 68px auto 0 133px;
}

.u-section-2 .u-text-15 {
  font-family: Rajdhani;
  margin: -227px auto 0 312px;
}

.u-section-2 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 23px auto 0 200px;
}

.u-section-2 .u-text-16 {
  font-family: Rajdhani;
  font-size: 3.125rem;
  margin: -60px auto 0 287px;
}

.u-section-2 .u-icon-3 {
  width: 66px;
  height: 66px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 16px auto 0 200px;
}

.u-section-2 .u-text-17 {
  font-family: Rajdhani;
  font-size: 3.125rem;
  text-align: start;
  margin: -60px auto 60px 287px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 530px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 379px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -358px;
    margin-left: 42px;
    margin-right: 42px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-right: 1297px;
  }

  .u-section-2 .u-text-9 {
    margin-top: -38px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 0;
    margin-right: 128px;
    margin-left: auto;
  }

  .u-section-2 .u-icon-1 {
    margin-top: -544px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 290px;
  }

  .u-section-2 .u-shape-1 {
    width: 570px;
    margin-top: 0;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-top: 168px;
    margin-right: auto;
  }

  .u-section-2 .u-custom-html-1 {
    height: auto;
    margin-top: 39px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    margin-top: 30px;
  }

  .u-section-2 .u-text-13 {
    margin-top: 47px;
  }

  .u-section-2 .u-custom-html-2 {
    height: auto;
    margin-top: 0;
    margin-right: 373px;
    margin-left: 1px;
  }

  .u-section-2 .u-text-14 {
    margin-top: 0;
    margin-left: 44px;
  }

  .u-section-2 .u-countdown-1 {
    margin-top: 0;
    margin-left: 44px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 0;
    margin-left: 84px;
  }

  .u-section-2 .u-text-15 {
    width: auto;
    margin-top: -398px;
    margin-left: 305px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 537px;
    margin-left: 214px;
  }

  .u-section-2 .u-text-16 {
    width: auto;
    margin-left: 335px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 82px;
    margin-left: 316px;
  }

  .u-section-2 .u-text-17 {
    width: auto;
    margin-left: 335px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-top: -1695px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -534px;
    margin-bottom: 39px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 44px;
    margin-bottom: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 1187px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-left: auto;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-right: 7px;
    margin-left: auto;
  }

  .u-section-2 .u-shape-1 {
    height: 804px;
    margin-right: auto;
  }

  .u-section-2 .u-text-11 {
    margin-top: -788px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 503px;
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-top: 12px;
    margin-right: auto;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-top: 56px;
    margin-right: auto;
  }

  .u-section-2 .u-custom-html-2 {
    min-height: 277px;
    width: 405px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-14 {
    width: auto;
    margin-left: auto;
  }

  .u-section-2 .u-countdown-1 {
    margin-left: 218px;
  }

  .u-section-2 .u-shape-2 {
    margin-left: auto;
  }

  .u-section-2 .u-text-15 {
    margin-top: -220px;
    margin-left: 287px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 7px;
    margin-left: 176px;
  }

  .u-section-2 .u-text-16 {
    margin-right: 241px;
    margin-left: auto;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 176px;
  }

  .u-section-2 .u-text-17 {
    margin-right: 136px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-5 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 1097px;
  }

  .u-section-2 .u-text-9 {
    font-size: 2.1875rem;
    margin-right: -19px;
    margin-left: 19px;
  }

  .u-section-2 .u-shape-1 {
    height: 813px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-11 {
    margin-top: -791px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-top: 18px;
  }

  .u-section-2 .u-text-12 {
    margin-top: 8px;
  }

  .u-section-2 .u-text-13 {
    margin-top: 155px;
  }

  .u-section-2 .u-custom-html-2 {
    min-height: 177px;
    margin-right: 98px;
    margin-left: 135px;
  }

  .u-section-2 .u-text-14 {
    margin-left: 147px;
  }

  .u-section-2 .u-countdown-1 {
    margin-left: 147px;
  }

  .u-section-2 .u-text-15 {
    margin-top: -230px;
    margin-left: auto;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 15px;
    margin-left: 78px;
  }

  .u-section-2 .u-text-16 {
    margin-right: 180px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: -3px;
    margin-left: 78px;
  }

  .u-section-2 .u-text-17 {
    margin-top: -63px;
    margin-right: 57px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-6 {
    margin-bottom: 60px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 691px;
  }

  .u-section-2 .u-text-9 {
    font-size: 1.5rem;
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-2 .u-group-1 {
    margin-right: 120px;
  }

  .u-section-2 .u-shape-1 {
    height: 608px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-11 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-2 .u-custom-html-1 {
    min-height: 457px;
    width: 321px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-2 .u-custom-html-2 {
    width: 311px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-14 {
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-2 .u-countdown-1 {
    margin-left: 28px;
  }

  .u-section-2 .u-shape-2 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 34px;
  }

  .u-section-2 .u-text-16 {
    font-size: 1.5rem;
    margin-right: 113px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 32px;
  }

  .u-section-2 .u-text-17 {
    font-size: 1.5rem;
    margin-right: 72px;
  }
}

.u-section-2 .u-icon-1,
.u-section-2 .u-icon-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-icon-1.u-icon-1.u-icon-1:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
  stroke: #404040 !important;
  border-color: #404040 !important;
}

.u-section-2 .u-icon-1 {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-2 .u-icon-1.u-icon-1.u-icon-1.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  stroke-width: 0px !important;
  border-style: solid !important;
  border-width: 0px !important;
  stroke: #404040 !important;
  border-color: #404040 !important;
}

.u-section-2 .u-icon-1 {
  stroke-width: 0 !important;
  border-style: solid !important;
  border-width: 0px !important;
  stroke: transparent !important;
  border-color: transparent !important;
}.u-section-3 .u-sheet-1 {
  min-height: 798px;
}

.u-section-3 .u-shape-1 {
  width: 487px;
  height: 185px;
  margin: 8px auto 0;
}

.u-section-3 .u-text-1 {
  font-family: Rajdhani;
  margin: -157px auto 0;
}

.u-section-3 .u-text-2 {
  font-family: Rajdhani;
  margin: -18px auto 0;
}

.u-section-3 .u-gallery-1 {
  height: 343px;
  width: 570px;
  margin: 78px auto 0 0;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-shape-2 {
  width: 538px;
  height: 314px;
  margin: -328px 0 0 auto;
}

.u-section-3 .u-text-3 {
  font-family: Rajdhani;
  margin: -301px 75px 0 auto;
}

.u-section-3 .u-text-4 {
  font-family: Rajdhani;
  margin: 8px 48px 0 auto;
}

.u-section-3 .u-text-5 {
  font-family: Rajdhani;
  text-align: start;
  margin: 8px 22px 0 auto;
}

.u-section-3 .u-text-6 {
  font-family: Rajdhani;
  text-align: start;
  margin: 8px 51px 0 auto;
}

.u-section-3 .u-text-7 {
  font-family: Rajdhani;
  text-align: start;
  margin: 8px 17px 0 auto;
}

.u-section-3 .u-text-8 {
  font-family: Rajdhani;
  margin: 15px 9px 0 auto;
}

.u-section-3 .u-btn-1 {
  background-image: linear-gradient(#478ac9, black);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 145px auto 0 75px;
  padding: 6px 20px 7px;
}

.u-section-3 .u-icon-1 {
  font-size: 1.5em;
}

.u-section-3 .u-btn-2 {
  background-image: linear-gradient(#f1c50e, black);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: -46px auto 0;
  padding: 6px 20px 7px;
}

.u-section-3 .u-icon-2 {
  font-size: 1.5em;
}

.u-section-3 .u-btn-3 {
  background-image: linear-gradient(#db545a, black);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: -46px 75px 60px auto;
  padding: 6px 20px 7px;
}

.u-section-3 .u-icon-3 {
  font-size: 1.5em;
}

@media (max-width: 1199px) {
  .u-section-3 .u-shape-1 {
    margin-top: -134px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -434px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 322px;
  }

  .u-section-3 .u-gallery-1 {
    margin-top: 207px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -485px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 137px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-shape-1 {
    width: 340px;
    margin-top: -142px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -426px;
  }

  .u-section-3 .u-gallery-1 {
    width: 340px;
  }

  .u-section-3 .u-shape-2 {
    width: 340px;
    margin-top: -333px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -453px;
  }
}